@use "../../mixins";

.input{
    width: 100%;
    max-width: 364px;
    padding: var(--two-spaces);
    border: var(--border-primary);
    border-radius: var(--one-space);
    background-color: transparent;
    font-size: 1rem;
    color: var(--color-text);

    &:hover, &:focus{
        border: var(--border-secondary);
        box-shadow: inset 0 0 0 var(--one-space) var(--color-secondary-opacity-56);
    }

    &::placeholder{
        color: var(--color-text);
    }

    @include mixins.sm{
        max-width: 100%;
    }
}
