.button{
    color: var(--color-secondary);
    border: var(--border-secondary);
    padding: var(--two-spaces) var(--four-spaces);
    border-radius: var(--one-space);
    background-color: transparent;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;

    &:hover, &:focus{
        color: var(--color-white);
        background-color: var(--color-secondary);
    }
}
