@import "reset.scss";

:root{
  --color-white: #fdfdfd;
  --color-black: #111;
  --color-grey-dark: #333;
  --color-grey-light: #dedede;
  --color-primary: #8338ec;
  --color-secondary: #3a86ff;
  --color-primary-opacity-12: rgba(131, 56, 236, 0.12);
  --color-secondary-opacity-12: rgba(58, 134, 255, 0.12);
  --color-secondary-opacity-56: rgba(58, 134, 255, 0.56);
  --ms-transition: 200ms;
  --one-space: 4px;
  --one-half-space: calc(var(--one-space) / 2);
  --two-spaces: calc(var(--one-space) * 2);
  --four-spaces: calc(var(--one-space) * 4);
  --max-width-page: 1200px;
  --default-border: 1px solid;
  --big-border: 2px solid;
  --border-default: var(--default-border) var(--color-border);
  --border-primary: var(--big-border) var(--color-primary);
  --border-secondary: var(--big-border) var(--color-secondary);
}

html.light{
  --color-text: var(--color-black);
  --color-background: var(--color-white);
  --color-border: var(--color-grey-light);
}

html.dark{
  --color-text: var(--color-white);
  --color-background: var(--color-black);
  --color-border: var(--color-grey-dark);
}

html, body, #root{
  font-family: 'Inter', sans-serif;
  height: 100%;
  color: var(--color-text);
  background-color: var(--color-background);
  line-height: 1.2;
  overflow-x: hidden;
}

html, body{
  font-size: 16px;
}

img{
  pointer-events: none;
  user-select: none;
}

#root{
  font-size: 1rem;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: color, background-color, border-bottom-color, border-left-color, border-right-color, border-top-color, box-shadow;
  transition-duration: var(--ms-transition);
  color: var(--color-text);
  outline: none;
}

::-moz-selection{
  background: var(--color-primary);
  color: var(--color-text);
}

::selection{
  background: var(--color-primary);
  color: var(--color-text);
}

@media(max-width: 600px){
  html, body{
    font-size: 14px;
  }
}
